body{
    background-color: bisque;
max-width: 850px;
margin: auto;
}
.geroy-1{
display: flex;
}

.картинка{
    width: 235px;
    border-radius: 20px;

}

.tablt-text{
    margin: 20px 0px 10px 30px;
}